@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* CONSTANTS START */

:root {
  --main-bg: #212121;
  --white: #DEDEDE;
  --border-color: #3C3C3C;
  --purple: #7B7BC5;
  --yellow: #E6DB74;
  --blue: #2fcbef;
  --nav-border-color: rgba(255, 255, 255, 0.12);
  --side-bar-color: #6E6E6E;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  margin: 0% 4%;
  padding: 4% 0% 4%;
  font-family: 'VT323', monospace;
  position: relative;
  overflow: hidden;
}

button {
  font-family: 'VT323', monospace;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

.line-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: 0;
  width: auto;
  padding: 10px 20px 0px 10px;
  background: none;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  font-family: 'VT323', monospace;
  color: var(--side-bar-color);
  font-size: 25px;
  line-height: 1.2em;
}

.scroll-to-top {
  background: transparent !important;
  box-shadow: 0px 0px 0px 0px var(--yellow) !important;
  transition: .5s all ease !important;
}

.scroll-to-top svg {
  fill: var(--yellow) !important;
}

.scroll-to-top:hover {
  box-shadow: 0 9px 25px 0 var(--yellow) !important;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .line-numbers {
    width: 20px;
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  section {
    height: 100%;
  }

  .line-numbers {
    width: 15px;
    font-size: 20px;
  }

  .scroll-to-top {
    right: 10px !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width: 425px) {
  section {
    height: 100%;
  }

  .line-numbers {
    padding: 10px 10px 0px 10px;
    font-size: 20px;
  }

  .scroll-to-top {
    right: 10px !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width: 375px) {
  section {
    height: 100%;
  }

  .line-numbers {
    padding: 10px 10px 0px 10px;
    font-size: 20px;
  }

  .scroll-to-top {
    right: 10px !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width: 320px) {
  section {
    height: 100%;
  }

  .line-numbers {
    padding: 10px 10px 0px 10px;
    font-size: 20px;
  }

  .scroll-to-top {
    right: 10px !important;
    bottom: 10px !important;
  }
}

/* CONSTANTS END */

/* NAV START */

header {
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow-y: hidden;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  height: 100%;
  background-color: var(--nav-bg);
  font-family: 'VT323', monospace;
  z-index: 5;
  max-width: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
  overflow: hidden;
}

header nav .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}

header nav .nav-left h1 {
  color: var(--white);
  font-weight: lighter;
  font-size: 25px;
  line-height: 0.9em;
}

header nav .nav-left p {
  font-size: 25px;
  color: var(--purple);
  line-height: 0.8em;
}

header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav .nav-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 40%;
}

header nav .nav-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 10%;
}

header nav .nav-right ul li a {
  font-size: 23px;
  color: var(--yellow);
  transition: all 0.2s linear;
}

header nav .nav-right ul li a:hover {
  color: var(--purple);
}

header nav .burger-button {
  display: none;
}

header .mobile-nav {
  display: none;
}

@media screen and (max-width: 1440px) {
  header {
    margin-left: 3.5%;
    margin-right: 3.5%;
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    margin-left: 2.5%;
    height: 70px;
  }

  header .mobile-nav {
    display: none;
  }

  header nav .nav-right {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    margin-left: 3.5%;
    height: 70px;
  }

  header nav .nav-right {
    display: none;
  }

  header nav .burger-button {
    display: block;
  }

  header .mobile-nav {
    display: block;
    background-color: var(--main-bg);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    margin-left: 5%;
    margin-right: 5.5%;
    height: 100vh;
  }

  header .mobile-nav ul li {
    padding: 0 20px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--nav-border-color);
  }

  header .mobile-nav ul li a {
    font-family: 'VT323', monospace;
    font-size: 100%;
    color: var(--yellow);
    transition: all 0.2s linear;
  }

  header .mobile-nav ul li a:hover {
    color: var(--purple);
  }
}

@media screen and (max-width: 425px) {
  header nav {
    margin-left: 10.5%;
    height: 70px;
  }

  header nav .nav-right {
    display: none;
  }

  header nav .burger-button {
    display: block;
  }

  header .mobile-nav {
    display: block;
    background-color: var(--main-bg);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    margin-left: 8.5%;
    margin-right: 5.5%;
    height: 100vh;
  }

  header .mobile-nav ul li {
    padding: 0 20px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--nav-border-color);
  }

  header .mobile-nav ul li a {
    font-family: 'VT323', monospace;
    font-size: 100%;
    color: var(--yellow);
    transition: all 0.2s linear;
  }

  header .mobile-nav ul li a:hover {
    color: var(--purple);
  }
}

@media screen and (max-width: 375px) {
  header nav {
    margin-left: 10.5%;
    height: 70px;
  }

  header nav .nav-right {
    display: none;
  }

  header nav .burger-button {
    display: block;
  }

  header nav .nav-right {
    display: none;
  }

  header .mobile-nav {
    background-color: var(--main-bg);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    margin-left: 9.7%;
    margin-right: 5.5%;
    height: 100vh;
  }

  header .mobile-nav ul li {
    padding: 0 20px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--nav-border-color);
  }

  header .mobile-nav ul li a {
    font-family: 'VT323', monospace;
    font-size: 100%;
    color: var(--yellow);
    transition: all 0.2s linear;
  }

  header .mobile-nav ul li a:hover {
    color: var(--purple);
  }
}

@media screen and (max-width: 320px) {
  header nav {
    margin-left: 10.5%;
    height: 70px;
  }

  header nav .nav-right {
    display: none;
  }

  header nav .burger-button {
    display: block;
  }

  header nav .nav-right {
    display: none;
  }

  header .mobile-nav {
    background-color: var(--main-bg);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    margin-left: 11.7%;
    margin-right: 5.5%;
    height: auto;
  }

  header .mobile-nav ul li {
    padding: 0 20px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--nav-border-color);
  }

  header .mobile-nav ul li a {
    font-family: 'VT323', monospace;
    font-size: 100%;
    color: var(--yellow);
    transition: all 0.2s linear;
  }

  header .mobile-nav ul li a:hover {
    color: var(--purple);
  }
}

/* NAV END */

/* HERO START */

.hero {
  margin-left: 4.5%;
  margin-right: 2.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.hero h1 {
  color: var(--white);
  font-weight: lighter;
  font-size: 1.15vw;
}

.hero h2 {
  display: flex;
  font-size: 8vw;
  color: var(--white);
  font-weight: lighter;
  margin-top: 30px;
}

.hero h2 span {
  color: var(--yellow);
}

.hero .header-bg {
  margin-top: 100px;
  background-image: url('/pc-setup.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-attachment: fixed;
  filter: opacity(0.6) blur(3px);
  border-radius: 50px;
}

@media screen and (max-width: 1440px) {
  .hero .header-bg {
    height: 80vh;
    margin-top: 50px;
    background-position: -10px;
    width: 92%;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    margin-left: 5.5%;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero .header-bg {
    height: 300px;
    margin-top: 50px;
    background-position: -10px;
    width: 92%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 5.5%;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero .header-bg {
    height: 270px;
    margin-top: 50px;
    background-position: -10px;
    width: 92%;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    margin-left: 8.5%;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero .header-bg {
    height: 270px;
    margin-top: 50px;
    background-position: 0px;
    width: 95%;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 375px) {
  .hero {
    margin-left: 10.5%;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero .header-bg {
    height: 270px;
    margin-top: 50px;
    background-position: -48px;
    width: 90%;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    margin-left: 13.5%;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero .header-bg {
    height: 270px;
    margin-top: 50px;
    background-position: -55px;
    width: 95%;
    background-attachment: scroll;
  }
}

/* HERO END */

/* ABOUT START */

.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 50px;
}

.about>div {
  text-align: center;
}

.about div span {
  font-size: 2vw;
  line-height: 1em;
  color: var(--purple);
  font-weight: lighter;
}

.about div h1 {
  font-size: 7vw;
  color: var(--white);
  line-height: 1em;
  font-weight: lighter;
}

.about div p {
  width: 550px;
  margin-top: 15px;
  color: var(--yellow);
  font-size: 20px;
  font-weight: lighter;
}

.about div p span {
  color: var(--purple);
  font-size: 20px;
  font-weight: lighter;
}

.about .about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  margin-top: 50px;
  width: 70%;
}

.about .about-body .about-left {
  width: 50%;
  padding: 25px 30px 0px;
  align-self: flex-start;
}

.about .about-body .about-left p {
  font-size: 32px;
  line-height: 1em;
  text-decoration: underline;
  color: var(--white);
  align-self: flex-start;
  font-weight: lighter;
}

.about .about-body .about-right {
  border-left: 1px solid var(--border-color);
  align-self: flex-start;
  width: 50%;
  padding: 25px 30px 70px;
}

.about>button {
  border: none;
  font-size: 25px;
  padding: 25px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  font-weight: lighter;
  transition: all .5s ease;
}

.about>button:hover {
  background-color: var(--purple);
}

@media screen and (max-width:2560px) {
  .about {
    height: 100%;
  }

  .about>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about .about-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .about .about-body .about-left,
  .about .about-body .about-right {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

@media screen and (max-width: 1440px) {
  .about {
    margin-left: 7.5%;
  }

  .about div p {
    font-size: 17px;
    padding: 20px;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    width: 100%;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    margin-left: 7.5%;
  }

  .about div p {
    font-size: 17px;
    padding: 20px;
    text-align: left;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-left: 7.5%;
    padding-top: 30px;
  }

  .about div>p {
    font-size: 17px;
    padding: 20px;
    text-align: left;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--border-color);
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 425px) {
  .about {
    margin-left: 13.5%;
    padding-top: 30px;
  }

  .about div p {
    font-size: 17px;
    padding: 20px;
    text-align: left;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--border-color);
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    margin-left: 13.5%;
    padding-top: 30px;
  }

  .about div p {
    font-size: 17px;
    padding: 20px;
    text-align: left;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--border-color);
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;

  }
}

@media screen and (max-width: 320px) {
  .about {
    margin-left: 13.5%;
    padding-top: 30px;
  }

  .about div p {
    font-size: 17px;
    padding: 20px;
    text-align: left;
    width: 90%;
  }

  .about div span {
    font-size: 25px;
  }

  .about div h1 {
    margin-top: 15px;
  }

  .about .about-body {
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .about .about-body .about-left {
    width: 100%;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .about .about-body .about-left p {
    font-size: 19px;
    padding: 20px;
    margin: 0;
    width: 90%;
  }

  .about .about-body .about-right {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--border-color);
    padding: 0;
  }

  .about .about-body .about-right p {
    font-size: 17px;
    margin: 0;
    padding: 20px;
    width: 90%;
  }

  .about>button {
    padding: 10px 20px;
    font-size: 17px;
  }
}

/* ABOUT END */

/* PORTFOLIO START */

.portfolio {
  height: 100%;
}

.portfolio .portfolio-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio .portfolio-head span {
  font-size: 2vw;
  line-height: 1em;
  color: var(--purple);
  font-weight: lighter;
}

.portfolio .portfolio-head h1 {
  font-size: 7vw;
  color: var(--white);
  line-height: 1em;
  font-weight: lighter;
}

.portfolio .portfolio-head p {
  margin-top: 15px;
  color: var(--yellow);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.portfolio .portfolio-body {
  display: flex;
  border-top: 1px solid var(--border-color);
  margin-top: 80px;
}

.portfolio .portfolio-body-bottom {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 40px;
}

.portfolio .portfolio-body .portfolio-left,
.portfolio .portfolio-body-bottom .portfolio-left {
  width: 50%;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 20px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio .portfolio-body .portfolio-right,
.portfolio .portfolio-body-bottom .portfolio-right {
  width: 50%;
  padding: 20px 0px 20px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
}

.portfolio .portfolio-body-bottom .portfolio-right,
.portfolio .portfolio-body-bottom .portfolio-left {
  border-bottom: none;
}

.portfolio .portfolio-body .portfolio-left div,
.portfolio .portfolio-body .portfolio-right div,
.portfolio .portfolio-body-bottom .portfolio-right div,
.portfolio .portfolio-body-bottom .portfolio-left div {
  width: 40%;
}

.portfolio .portfolio-body .portfolio-right div h3,
.portfolio .portfolio-body .portfolio-left div h3,
.portfolio .portfolio-body-bottom .portfolio-right div h3,
.portfolio .portfolio-body-bottom .portfolio-left div h3 {
  color: var(--white);
  margin-top: 10px;
  font-size: 32px;
  font-weight: lighter;
}

.portfolio .portfolio-body .portfolio-right div p,
.portfolio .portfolio-body .portfolio-left div p,
.portfolio .portfolio-body-bottom .portfolio-left div p,
.portfolio .portfolio-body-bottom .portfolio-right div p {
  color: var(--yellow);
  margin-top: 15px;
  font-size: 25px;
  font-weight: lighter;
}

.portfolio .portfolio-body .portfolio-left div:nth-child(1) .img {
  max-width: 100%;
}

.portfolio .portfolio-body .portfolio-left div:nth-child(2) .img {
  max-width: 100%
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin-left: 13.5%;
    padding-top: 50px;
  }

  .portfolio .portfolio-head span {
    font-size: 25px;
  }

  .portfolio .portfolio-head h1 {
    margin-top: 15px;
  }

  .portfolio .portfolio-body {
    margin-top: 40px;
    flex-direction: column;
  }

  .portfolio .portfolio-body .portfolio-left {
    width: 100%;
    flex-direction: row;
    border-right: none;
    padding: 20px 0px 0px 0px;
    border-bottom: none;
    flex-wrap: nowrap;
  }

  .portfolio .portfolio-body-bottom .portfolio-left {
    padding: 0;
    width: 100%;
    flex-direction: row;
    border-right: none;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) {
    width: 100%;
    margin-top: 10px;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) .img {
    width: 50%;
  }

  .portfolio .portfolio-body-bottom .portfolio-left div .img {
    width: 90%;
  }

  .portfolio .portfolio-body .portfolio-right div .img {
    width: 90%;
  }

  .portfolio .portfolio-body .portfolio-left div,
  .portfolio .portfolio-body .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-left div {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .portfolio .portfolio-body .portfolio-right div:nth-child(1) {
    display: none;
  }

  .portfolio .portfolio-body-bottom .portfolio-right {
    display: none;
  }

  .portfolio .portfolio-body .portfolio-right,
  .portfolio .portfolio-body-bottom .portfolio-right {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .portfolio .portfolio-body .portfolio-right div h3,
  .portfolio .portfolio-body .portfolio-left div h3,
  .portfolio .portfolio-body-bottom .portfolio-right div h3,
  .portfolio .portfolio-body-bottom .portfolio-left div h3 {
    font-size: 20px;
  }

  .portfolio .portfolio-body .portfolio-right div p,
  .portfolio .portfolio-body .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-right div p {
    font-size: 16px;
  }
}

@media screen and (max-width: 475px) {
  .portfolio {
    margin-left: 13.5%;
    padding-top: 50px;
  }

  .portfolio .portfolio-head span {
    font-size: 25px;
  }

  .portfolio .portfolio-head h1 {
    margin-top: 15px;
  }

  .portfolio .portfolio-body {
    margin-top: 40px;
    flex-direction: column;
  }

  .portfolio .portfolio-body .portfolio-left {
    width: 100%;
    flex-direction: column;
    border-right: none;
    padding: 20px 0px 0px 0px;
    border-bottom: none;
  }

  .portfolio .portfolio-body-bottom .portfolio-left {
    width: 100%;
    flex-direction: column;
    border-right: none;
  }


  .portfolio .portfolio-body-bottom .portfolio-left {
    padding: 0;

  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) {
    width: 100%;
    margin-top: 10px;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) .img {
    width: 50%;
  }

  .portfolio .portfolio-body .portfolio-left div,
  .portfolio .portfolio-body .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-left div {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .portfolio .portfolio-body .portfolio-right,
  .portfolio .portfolio-body-bottom .portfolio-right {
    display: none;
  }

  .portfolio .portfolio-body .portfolio-right div h3,
  .portfolio .portfolio-body .portfolio-left div h3,
  .portfolio .portfolio-body-bottom .portfolio-right div h3,
  .portfolio .portfolio-body-bottom .portfolio-left div h3 {
    font-size: 20px;
  }

  .portfolio .portfolio-body .portfolio-right div p,
  .portfolio .portfolio-body .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-right div p {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .portfolio {
    margin-left: 13.5%;
    padding-top: 50px;
  }

  .portfolio .portfolio-head span {
    font-size: 25px;
  }

  .portfolio .portfolio-head h1 {
    margin-top: 15px;
  }

  .portfolio .portfolio-body {
    margin-top: 40px;
    flex-direction: column;
  }

  .portfolio .portfolio-body .portfolio-left,
  .portfolio .portfolio-body-bottom .portfolio-left {
    width: 100%;
    flex-direction: column;
    border-right: none;
    padding: 0;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) {
    width: 100%;
    margin-top: 10px;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) .img {
    width: 50%;
  }

  .portfolio .portfolio-body .portfolio-left div,
  .portfolio .portfolio-body .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-left div {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .portfolio .portfolio-body .portfolio-right,
  .portfolio .portfolio-body-bottom .portfolio-right {
    display: none;
  }

  .portfolio .portfolio-body .portfolio-right div h3,
  .portfolio .portfolio-body .portfolio-left div h3,
  .portfolio .portfolio-body-bottom .portfolio-right div h3,
  .portfolio .portfolio-body-bottom .portfolio-left div h3 {
    font-size: 20px;
  }

  .portfolio .portfolio-body .portfolio-right div p,
  .portfolio .portfolio-body .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-right div p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    margin-left: 13.5%;
    padding-top: 50px;
  }

  .portfolio .portfolio-head span {
    font-size: 25px;
  }

  .portfolio .portfolio-head h1 {
    margin-top: 15px;
  }

  .portfolio .portfolio-body {
    margin-top: 40px;
    flex-direction: column;
  }

  .portfolio .portfolio-body .portfolio-left,
  .portfolio .portfolio-body-bottom .portfolio-left {
    width: 100%;
    flex-direction: column;
    border-right: none;
    padding: 0;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) {
    width: 100%;
    margin-top: 10px;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio .portfolio-body .portfolio-left div:nth-child(1) .img {
    width: 50%;
  }

  .portfolio .portfolio-body .portfolio-left div,
  .portfolio .portfolio-body .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-right div,
  .portfolio .portfolio-body-bottom .portfolio-left div {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .portfolio .portfolio-body .portfolio-right,
  .portfolio .portfolio-body-bottom .portfolio-right {
    display: none;
  }

  .portfolio .portfolio-body .portfolio-right div h3,
  .portfolio .portfolio-body .portfolio-left div h3,
  .portfolio .portfolio-body-bottom .portfolio-right div h3,
  .portfolio .portfolio-body-bottom .portfolio-left div h3 {
    font-size: 20px;
  }

  .portfolio .portfolio-body .portfolio-right div p,
  .portfolio .portfolio-body .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-left div p,
  .portfolio .portfolio-body-bottom .portfolio-right div p {
    font-size: 16px;
  }
}

/* PORTFOLIO END */