@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS START */

:root {
	--main-bg: rgb(33, 33, 33);
	--main-bg-trans: rgb(33, 33, 33, 0.9);
	--white: rgb(222, 222, 222);
	--border-color: rgb(61, 61, 61);
	--purple: rgb(124, 124, 197);
	--yellow: rgb(231, 219, 116);
	--blue: rgb(46, 204, 239);
	--nav-border-color: rgba(255, 255, 255, 0.12);
	--side-bar-color: rgb(110, 110, 110);
	--error-red: rgb(255, 0, 0);
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	background-color: var(--main-bg);
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

a,
p,
h1,
h2,
h3,
h4,
span,
input,
textarea {
	font-weight: lighter;
	font-family: 'VT323', monospace;
}

a,
div,
body,
input,
button,
section,
textarea {
	cursor: none !important;
}

section {
	margin: 0;
	position: relative;
	overflow: hidden;
	height: 100%;
	padding: 50px 0px;
}

.wrapper {
	max-width: 1750px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1850px) {
	.wrapper {
		padding: 0 4%;
	}
}

button {
	font-family: 'VT323', monospace;
	background: none;
	border: none;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: unset;
	text-decoration: none;
}

.scroll-to-top {
	background: transparent !important;
	box-shadow: 0px 0px 0px 0px var(--yellow) !important;
	transition: 0.5s all ease !important;
}

.scroll-to-top svg {
	margin: 0 auto;
	fill: var(--yellow) !important;
}

.scroll-to-top:hover {
	box-shadow: 0 9px 25px 0 var(--yellow) !important;
}

[data-aos^='fade'][data-aos^='fade'].aos-animate {
	overflow: hidden !important;
}

@media screen and (max-width: 768px) {
	.scroll-to-top {
		right: 20px !important;
		bottom: 20px !important;
	}
}

/* GLOBALS END */

/* LOADER START */

.loader:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: '\2026';
	width: 0;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

.slide {
	opacity: 0;
}

/* LOADER END */

/* NAV START */

header .mobile-slider {
	transform: translateX(0);
}

/* NAV END */

/* ABOUT START */

.pdf-slide {
	transform: translateX(0%);
}

/* ABOUT END */

/* SERVICES START */

.services .services-head {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.services .services-head p {
	color: var(--yellow);
	font-size: 23px;
}

.services .services-body {
	padding-top: 60px;
}

.services .services-body p {
	width: 100%;
	text-align: center;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	font-size: 140px;
	transition: all ease 0.5s;
}

.services .services-body p:nth-child(1) {
	color: var(--blue);
}

.services .services-body p:nth-child(1):hover {
	background-color: var(--yellow);
}

.services .services-body p:nth-child(2) {
	color: var(--yellow);
	margin-top: 50px;
}

.services .services-body p:nth-child(2):hover {
	background-color: var(--blue);
}

.services .services-body p span {
	font-size: 140px;
	color: var(--white);
}

.services .services-bottom {
	background-image: url('/working-pc.jpg');
	margin-top: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vh;
	background-position-y: 80%;
	background-position-x: 0px;
	background-attachment: fixed;
	filter: opacity(0.6) blur(3px);
	border-radius: 50px;
	position: relative;
}

@media screen and (max-width: 1440px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 30px;
		background-position-y: 80%;
		background-position-x: 0px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p:nth-child(2) {
		margin-top: 30px;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 75px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 30px;
		background-position-y: 80%;
		background-position-x: 0px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p:nth-child(2) {
		margin-top: 30px;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 75px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 50px;
		background-position-y: 80%;
		background-position-x: 0px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 60px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 450px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 50px;
		background-position: -55px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 23px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 375px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 50px;
		background-position: -55px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 23px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 320px) {
	.services .services-bottom {
		height: 270px;
		margin-top: 50px;
		background-position: -55px;
		width: 100%;
		background-attachment: scroll;
	}

	.services .services-body p,
	.services .services-body p span {
		font-size: 23px;
		margin-top: 20px;
	}
}

/* SERVICES END */

/* CONTACT START */

.contact {
	height: 100%;
}

.contact .contact-head {
	text-align: center;
}

.contact .contact-head p {
	color: var(--yellow);
	font-size: 23px;
}

.contact .contact-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contact .contact-body input,
textarea {
	max-width: 1140px;
	width: 100%;
	color: var(--purple);
	font-size: 22px;
	padding: 0px 10px 14px;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--border-color);
	margin-top: 50px;
}

.contact .contact-body input.error-border,
.contact .contact-body textarea.error-border {
	border-color: var(--error-red);
}

.contact .contact-body input::placeholder,
.contact .contact-body textarea::placeholder {
	color: var(--purple);
}

.contact .contact-body input:focus,
textarea:focus {
	transition: all 0.5s ease;
	border-color: var(--purple);
}

.contact .contact-body .submit-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact .contact-body .submit-area button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
	border: none;
	font-size: 20px;
	width: 110px;
	height: 50px;
	background-color: var(--blue);
	color: var(--white);
	transition: all 0.5s ease;
}

.contact .contact-body .submit-area button:hover {
	background-color: var(--purple);
}

@media screen and (max-width: 1024px) {
	.contact .contact-head p {
		font-size: 17px;
	}

	.contact .contact-body input,
	textarea {
		width: 80%;
		font-size: 18px;
		padding: 0px 10px 10px;
		margin-top: 30px;
	}

	.contact .contact-body .submit-area button {
		padding: 10px 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 768px) {
	.contact .contact-head p {
		font-size: 17px;
	}

	.contact .contact-body input,
	textarea {
		width: 80%;
		font-size: 18px;
		padding: 0px 10px 10px;
		margin-top: 30px;
	}

	.contact .contact-body .submit-area button {
		padding: 10px 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 450px) {
	.contact .contact-head p {
		font-size: 17px;
	}

	.contact .contact-body input,
	textarea {
		width: 80%;
		font-size: 18px;
		padding: 0px 10px 10px;
		margin-top: 30px;
	}

	.contact .contact-body .submit-area button {
		padding: 10px 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 375px) {
	.contact .contact-head p {
		font-size: 17px;
	}

	.contact .contact-body input,
	textarea {
		width: 80%;
		font-size: 18px;
		padding: 0px 10px 10px;
		margin-top: 30px;
	}

	.contact .contact-body .submit-area button {
		padding: 10px 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 320px) {
	.contact .contact-head p {
		font-size: 17px;
	}

	.contact .contact-body input,
	textarea {
		width: 80%;
		font-size: 18px;
		padding: 0px 10px 10px;
		margin-top: 30px;
	}

	.contact .contact-body .submit-area button {
		padding: 10px 20px;
		font-size: 17px;
	}
}

/* CONTACT END */

/* THANK YOU START */

.thank-you {
	height: 50vh;
}

.thank-you div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.thank-you div h1 {
	font-size: 50px;
	color: var(--yellow);
}

@media screen and (max-width: 1024px) {
	.thank-you div h1 {
		font-size: 35px;
	}
}

@media screen and (max-width: 768px) {
	.thank-you div h1 {
		font-size: 35px;
	}
}

@media screen and (max-width: 450px) {
	.thank-you div h1 {
		font-size: 25px;
	}
}

@media screen and (max-width: 375px) {
	.thank-you div h1 {
		font-size: 23px;
	}
}

@media screen and (max-width: 320px) {
	.thank-you div h1 {
		font-size: 20px;
	}
}

/* THANK YOU END */

/* FOOTER START */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--border-color);
	margin: 0 0 0 2.5%;
	padding: 1% 2%;
}

footer > a {
	transition: all 0.5s ease;
}

footer > a:hover {
	transform: scale(1.5);
}

footer .footer-left nav ul {
	display: flex;
	font-family: serif;
}

footer .footer-left nav ul li {
	list-style: none;
}

footer .footer-left nav ul li a {
	list-style: none;
	margin-left: 20px;
}

footer .footer-left nav ul li a {
	font-size: 20px;
	color: var(--yellow);
	transition: all 0.2s linear;
}

footer .footer-left nav ul li a:hover {
	color: var(--purple);
}

footer .footer-mid {
	display: flex;
	margin-right: 6%;
}

footer .footer-mid a {
	color: var(--purple);
	transition: all 0.5s ease;
	font-size: 20px;
	margin-right: 20px;
}

footer .footer-mid a:hover {
	color: var(--blue);
	transform: scale(1.5);
}

footer .footer-right p {
	font-size: 20px;
	color: var(--yellow);
}

@media screen and (max-width: 1440px) {
	footer {
		margin: 0 0 0 3.5%;
		padding: 2% 2% 2% 0;
	}
}

@media screen and (max-width: 1200px) {
	footer > a {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	footer {
		margin: 0 0 0 4%;
		padding: 2% 2% 0 2%;
	}

	footer .footer-left nav ul {
		display: flex;
		flex-direction: row;
		text-align: center;
	}

	footer .footer-left nav ul li a {
		font-size: 18px;
	}

	footer .footer-left nav ul li:first-child a {
		margin: 0;
	}

	footer .footer-mid {
		margin-right: 8%;
	}

	footer .footer-left nav {
		margin-bottom: 20px;
	}

	footer .footer-right p {
		text-align: center;
		font-size: 18px;
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		margin: 10% 0 0 5%;
		padding: 5% 0 5% 0%;
	}

	footer .footer-left nav {
		flex-direction: column;
		text-align: center;
	}

	footer .footer-left nav ul li a {
		margin-left: 20px;
	}

	footer .footer-mid div:last-child a {
		margin: 0;
	}

	footer .footer-left nav ul li {
		margin: 0;
	}

	footer .footer-mid {
		margin: 0;
	}

	footer .footer-left nav {
		margin-bottom: 20px;
	}

	footer .footer-right p {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		max-width: 250px;
	}
}

@media screen and (max-width: 450px) {
	footer {
		flex-direction: column;
		margin: 10% 0 0 9%;
		padding: 5% 3% 1% 0%;
	}

	footer .footer-left nav ul {
		flex-direction: column;
		text-align: center;
	}

	footer .footer-left nav ul li a {
		margin: 0;
	}

	footer .footer-mid div:last-child a {
		margin: 0;
	}

	footer .footer-left nav ul li {
		margin: 0;
	}

	footer .footer-mid {
		margin: 0;
	}

	footer .footer-left nav {
		margin-bottom: 20px;
	}

	footer .footer-right p {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		max-width: 250px;
	}
}

@media screen and (max-width: 375px) {
	footer {
		flex-direction: column;
		margin: 10% 0 0 11%;
		padding: 5% 3% 1% 0%;
	}

	footer .footer-left nav ul {
		flex-direction: column;
		text-align: center;
	}

	footer .footer-left nav ul li a {
		margin: 0;
	}

	footer .footer-mid div:last-child a {
		margin: 0;
	}

	footer .footer-left nav ul li {
		margin: 0;
	}

	footer .footer-mid {
		margin: 0;
	}

	footer .footer-left nav {
		margin-bottom: 20px;
	}

	footer .footer-right p {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		max-width: 250px;
	}
}

@media screen and (max-width: 320px) {
	footer {
		flex-direction: column;
		margin: 10% 0 0 11%;
		padding: 5% 3% 1% 0%;
	}

	footer .footer-left nav ul {
		flex-direction: column;
		text-align: center;
	}

	footer .footer-left nav ul li a {
		margin: 0;
	}

	footer .footer-mid div:last-child a {
		margin: 0;
	}

	footer .footer-left nav ul li {
		margin: 0;
	}

	footer .footer-mid {
		margin: 0;
	}

	footer .footer-left nav {
		margin-bottom: 20px;
	}

	footer .footer-right p {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		max-width: 250px;
	}
}

/* FOOTER END */

/* LANDSCAPE START */

@media screen and (orientation: landscape) {
}

/* LANDSCAPE END */
